.scrolls {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 642px;
    white-space: nowrap;
}

.galleryitem {
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 10px;
}

.caption {
    float: left;
}

.galleryImage {
    margin-top: 24px;
}


.gallery {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    height: 760px;
}

.pageHeader {
    width: 250px;
    height: 80px;
}

.galleryWrapperLines {
    border-top: solid 1px;
    width: 98%;
}

.topGalleryWrapperLines {
    margin-top: 10px;
}

.galleryWrapper {
    padding-top: 15px;
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #aaa;
    }
