@font-face {
    font-family: 'amblebold';
    src: url('amble-bold-webfont.eot');
    src: url('amble-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('amble-bold-webfont.woff') format('woff'),
         url('amble-bold-webfont.ttf') format('truetype'),
         url('amble-bold-webfont.svg#amblebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold_condensed';
    src: url('roboto-boldcondensed-webfont.eot');
    src: url('roboto-boldcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-boldcondensed-webfont.woff') format('woff'),
         url('roboto-boldcondensed-webfont.ttf') format('truetype'),
         url('roboto-boldcondensed-webfont.svg#robotobold_condensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'theano_didotregular';
    src: url('theanodidot-regular-webfont.eot');
    src: url('theanodidot-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('theanodidot-regular-webfont.woff') format('woff'),
         url('theanodidot-regular-webfont.ttf') format('truetype'),
         url('theanodidot-regular-webfont.svg#theano_didotregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksandlight';
    src: url('quicksand_light-webfont.eot');
    src: url('quicksand_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('quicksand_light-webfont.woff') format('woff'),
         url('quicksand_light-webfont.ttf') format('truetype'),
         url('quicksand_light-webfont.svg#quicksandlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'corbertregular';
    src: url('Corbert-Regular-webfont.eot');
    src: url('Corbert-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Corbert-Regular-webfont.woff') format('woff'),
         url('Corbert-Regular-webfont.ttf') format('truetype'),
         url('Corbert-Regular-webfont.svg#corbertregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.logoEP { font-family: 'robotobold_condensed'; font-size: 37px; color : #acacac}
.logoPhotography { font-family: 'quicksandlight'; font-size: 17px;color : #acacac}
.aboutLabelFont { font-family: 'amblebold'; font-size: 17px; color : #acacac}
.fashionLabelFont { font-family: 'theano_didotregular'; font-size: 66px}
.portraitsLabelFont { font-family: 'quicksandlight'; font-size: 53px}
.fashionTextFont { font-family: 'theano_didotregular'; font-size: 17px; color : #acacac}
.portraitsTextFont { font-family: 'quicksandlight'; font-size: 17px; color : #acacac}
.aboutTextFont { font-family: 'amblebold'; font-size: 14px}
.videoLabelFont { font-family: 'corbertregular'; font-size: 53px}
